body{
  text-align: center;
  background: #5256AD;
}

.topBtn{
  margin-bottom: 20px;
  margin-top: 50px;
  width:150px;
  height:60px;
  background: #675AFE;
  color: white;
  border-radius: 20px;
  font-size:17px;
}

.bottomBtn{
  width:150px;
  height:60px;
  background: #675AFE;
  color:white;
  border-radius: 20px;
  font-size:17px;
}

.outer{
  background: white;
  border-style: solid;
  border-width: medium;
  border-radius: 20px;
  margin-top:200px;
  width:500px;
  margin-left:auto;
  margin-right: auto;
  height:350px;
}

a {
  color:white;
  font-size: 17px;
  text-decoration: none;
}
